h1 { color: orangered;
}
h2 {color: orangered;
}
p { color: black;
}

#imagem-03 {width: 100%;
}
#imagem-04 {width: 100%;
}
#imagem-05 {width: 100%;
}
#imagem-06 {width: 100%;
}
#imagem-07 {width: 100%;
}
#imagem-08 {width: 100%;
}
#imagem-09 {width: 100%;
}
#imagem-10 {width: 100%;
}
#imagem-11 {width: 100%;
}
#imagem-12 {width: 100%;
}
